<div class="main">
    <div class="card mx-auto mt-2">
        <div class="card-header text-blue">
            <strong>{{ userById.username }}</strong>
        </div>
        <div class="card-body">
            <form [formGroup]="updateForm" (ngSubmit)="save()">
                <div class="form-group">
                    <label class="text-blue" for="name">Full Name</label>
                    <input type="text"  formControlName="name" class="form-control" id="name" [ngModel]="userById?.name">
                </div>
                <div class="form-group">
                    <label class="text-blue" for="phone">Phone No</label>
                    <input type="text" formControlName="phone" class="form-control" id="phone" [ngModel]="userById?.phone">
                </div>
                <div class="form-group">
                    <label class="text-blue" for="dob">Date of Birth</label>
                    <input type="date" formControlName="dob" class="form-control" id="dob" [ngModel]="userById?.dob">
                </div>
                <div class="form-select mb-3" aria-label="Default select example">
                    <label class="text-blue" for="status">Status</label>
                    <select  formControlName="status" class="form-control" id="status" [ngModel]="userById?.status">
                        <option *ngFor="let status of stats" [value]="status.value">{{ status.title }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="text-blue" for="address">Address</label>
                    <input type="text" formControlName="address" class="form-control" id="address" [ngModel]="userById?.address">
                </div>
                
                <button type="submit" class="btn btn-primary mr-2">Save</button>
                <button class="btn btn-secondary" (click)="back()">back</button>
            </form>
        </div>
    </div>
</div>