<div class="container">
    <div class="row my-2">
        <div class="col-5 f12"><strong>Name :</strong></div>
        <div class="col-7">{{ profileData?.name }}</div>
    </div>
    <div class="row my-2">
        <div class="col-5 f12"><strong>Username :</strong></div>
        <div class="col-7">{{ profileData?.username }}</div>
    </div>
    <div class="row my-2">
        <div class="col-5 f12"><strong>Email :</strong></div>
        <div class="col-7">{{ profileData?.email }}</div>
    </div>
    <div class="row my-2">
        <div class="col-5 f12"><strong>Phone No :</strong></div>
        <div class="col-7">{{ profileData?.phone }}</div>
    </div>
    <div class="row my-2">
        <div class="col-5 f12"><strong>DOB :</strong></div>
        <div class="col-7">{{ profileData?.dob }}</div>
    </div>
    <div class="row my-2">
        <div class="col-5 f12"><strong>Status :</strong></div>
        <div class="col-7">{{ profileData?.status }}</div>
    </div>
    <div class="row my-2">
        <div class="col-5 f12"><strong>Address :</strong></div>
        <div class="col-7">{{ profileData?.address }}</div>
    </div>
</div>

<div class="container mt-5">
    <div class="d-flex justify-content-start">
        <span class="f12 mx-2 p-2"><strong>My Task: </strong></span>
        <span class="f12 mx-2 py-2 px-3 rounded-circle bg-green">{{ countComplete }}</span>
        <span class="f12 mx-2 py-2 px-3 rounded-circle bg-red">{{ countNotComplete }}</span>
    </div>
</div>