.reg {
    background-image: url("/assets/screen-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-color: #C7C4C4;
    display: flex;
    justify-content: center;
}

.card {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 300px;
    max-height: 630px;
    margin-top: 5em;
}

.card-body {
    height: max-content;
    overflow: scroll;
}

.logo {
    display: flex;
    justify-content: center;
}

.btn-green {
    color: #fff;
    background-color: #18A041;
    border-color: #18A041;
}