<div class="card mx-auto mt-3">
    <div class="card-header">
        <div class="row">
            <div class="col-2">
                <strong>Title</strong>
            </div>
            <div class="col-4">
                <strong>Description</strong>
            </div>
            <div class="col-2">
                <strong>Date</strong>
            </div>
            <div class="col-2">
                <strong>Status</strong>
            </div>
            <div class="col-2">
                <strong>Assigned To</strong>
            </div>
        </div>
    </div>
    <div class="card-body">
        
        <div class="row rowa py-2" *ngFor="let task of allTask, let i of index" [class]="task.status">
            <div class="col-2 f10">
                {{ task.title }}
            </div>
            <div class="col-4 f10">
                {{ task.desc }}
            </div>
            <div class="col-2 f10">
                {{ task.date | date }}
            </div>
            <div class="col-2 f10 text-center">
                {{ task.status | titlecase }}
            </div>
            <div class="col-2 f10">
                {{ task.user.name }}
            </div>
        </div>
    </div>
</div>