.add-user {
    position: absolute;
    z-index: 2;
    bottom: 2em;
    right: 2em;
    outline: none;
}

.user-icon {
    width: 40px;
    height: auto;
}

.user-icon:hover {
    width: 60px;
    height: auto;
}