<div class="main d-flex flex-wrap justify-content-around">
    <div class="card my-2" *ngFor="let user of userData; index as i">
        <div class="card-header text-blue">
            <strong>{{ user.username }}</strong>
            <div class="float-right c-p o-n" (click)="deleteUser(user._id)">
                <i class="fa fa-trash-alt text-red"></i>
            </div>
            <div class="float-right c-p o-n mr-3" [routerLink]="'../user-edit/' + user._id">
                <i class="fa fa-edit text-dark-blue"></i>
            </div>
        </div>
        <div class="card-body">
            <div class="row mb-2">
                <div class="col-5 f12"><strong>Name :</strong></div>
                <div class="col-7 f12">{{ user.name }}</div>
            </div>
            <div class="row my-2">
                <div class="col-5 f12"><strong>Email :</strong></div>
                <div class="col-7 f12">{{ user.email }}</div>
            </div>
            <div class="row my-2">
                <div class="col-5 f12"><strong>Phone No :</strong></div>
                <div class="col-7 f12">{{ user.phone }}</div>
            </div>
            <div class="row my-2">
                <div class="col-5 f12"><strong>DOB :</strong></div>
                <div class="col-7 f12">{{ user.dob }}</div>
            </div>
            <div class="row my-2">
                <div class="col-5 f12"><strong>Status :</strong></div>
                <div class="col-7 f12">{{ user.status }}</div>
            </div>
            <div class="row my-2">
                <div class="col-5 f12"><strong>Address :</strong></div>
                <div class="col-7 f12">{{ user.address }}</div>
            </div>

            <div class="container mt-3">
                <div class="d-flex justify-content-start">
                    <span class="f12 mx-2 p-2"><strong>Task: </strong></span>
                    <span class="f12 mx-2 py-2 px-3 rounded-circle bg-green">{{ getComplete(user, 'completed') }}</span>
                    <span class="f12 mx-2 py-2 px-3 rounded-circle bg-red">{{ getComplete(user, 'not-completed') }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
