<div class="card mt-2 mx-2">
    <div class="card-header text-center text-blue">
        Add User
    </div>
    <div class="card-body">
        <p *ngIf="alertShow === true">
            <ngb-alert type="danger">{{ errorMsg }}</ngb-alert>
        </p>
        <form [formGroup]="registerForm" (ngSubmit)="reg()">
            <div class="form-group">
                <label class="text-blue" for="name">Full Name</label>
                <input type="text" formControlName="name" class="form-control" id="name" placeholder="Enter Full Name">
                <app-control-messages [control]="registerForm.get('name')"></app-control-messages>
            </div>
            <div class="form-group">
                <label class="text-blue" for="username">Username</label>
                <input type="text" formControlName="username" class="form-control" id="username" placeholder="Enter Username">
                <app-control-messages [control]="registerForm.get('username')"></app-control-messages>
            </div>
            <div class="form-group">
                <label class="text-blue" for="email">Email address</label>
                <input type="email" formControlName="email" class="form-control" id="email" placeholder="Enter email">
                <app-control-messages [control]="registerForm.get('email')"></app-control-messages>
            </div>
            <div class="form-group">
                <label class="text-blue" for="password">Password</label>
                <input type="password" formControlName="password" class="form-control" id="password" placeholder="Password">
                <app-control-messages [control]="registerForm.get('password')"></app-control-messages>
            </div>
            <div class="form-group">
                <label class="text-blue" for="confirm_password">Confirm Password</label>
                <input type="password" formControlName="confirm_password" class="form-control" id="confirm_password" placeholder="Confirm Password">
                <app-control-messages [control]="registerForm.get('confirm_password')"></app-control-messages>
                <div class="f10 text-red" *ngIf="registerForm.errors !== null">Password Not Match</div>
            </div>
            
            <button class="btn btn-secondary mr-2" (click)="back()">Cancel</button>
            <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Submit</button>
        </form>
    </div>
</div>