<ngx-spinner></ngx-spinner>
<div class="main">
    <div class="card mx-auto mt-2">
        <div class="card-header text-blue">
            <strong>My Profile</strong>
            <div class="float-right c-p o-n" [routerLink]="'edit/' + profileData?._id">
                <i class="fa fa-edit text-dark-blue"></i>
            </div>
        </div>
        <div class="card-body">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
