<ngx-spinner></ngx-spinner>
<div class="login">
    <!-- <p class="successtxt" *ngIf="successShow === true">
        <ngb-alert type="success">{{ successMsg }}</ngb-alert>
    </p> -->
    <div class="card">
        <div class="card-header">
            <span class="f18 text-blue"><strong>Login</strong></span>
        </div>
        <div class="card-body">
            <div class="logo mb-4">
                <img src="assets/logo.jpg" class="rounded" style="height: 80px; width: auto;">
            </div>
            <p *ngIf="alertShow === true">
                <ngb-alert type="danger">{{ errorMsg }}</ngb-alert>
            </p>
            <form [formGroup]="loginForm" (ngSubmit)="log_in()">
                <div class="form-group">
                    <label class="text-blue" for="exampleInputUsername1">Username</label>
                    <input type="text" formControlName="username" class="form-control" id="exampleInputUsername1" placeholder="Enter Username">
                    <app-control-messages [control]="loginForm.get('username')"></app-control-messages>
                  </div>
            
                <div class="form-group">
                  <label class="text-blue" for="exampleInputPassword1">Password</label>
                  <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  <app-control-messages [control]="loginForm.get('password')"></app-control-messages>
                </div>
                <button type="submit" class="btn btn-secondary" [disabled]="!loginForm.valid">Submit</button>
            </form>
            <span class="f8">Dont' Have Account? <span class="f12" style="cursor: pointer;" routerLink="/register">Create Account</span></span>
        </div>
    </div>
</div>