/* You can add global styles to this file, and also import other style files */
*::-webkit-scrollbar {
  display: none;
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
}

.text-green {
  color: #18a041;
}

.text-blue {
    color: #6EADBD
}

.text-dark-blue {
  color: #2365EB;
}

.text-red {
  color: #EF4E31
}

.bg-green {
  background-color: #AFE59B;
}

.bg-red {
  background-color: #E08C9D;
}
  
.f8 {
  font-size: 8px;
}

.f10 {
  font-size: 10px;
}

.f12 {
  font-size: 12px;
}

.f14 {
  font-size: 14px;
}

.f16 {
  font-size: 16px;
}

.f18 {
  font-size: 18px;
}

.c-p {
  cursor: pointer;
}

.o-n {
  outline: none;
}
 

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
